.garage-sale {
    display: grid;
    grid-template-areas:
    "title cart"
    "products cart"
    "products checkout"
}

.title {
    grid-area: title;
}

.products {
    grid-area: products;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cart {
    grid-area: cart;
}

.checkout {
    grid-area: checkout;
}